{% extends "base.html" %}

{% block content %}
<h2 id="section-1">关注微信公众号</h2>
<p>扫描下方的微信二维码，关注公众号后，向其发送消息即可新增！</p>
<p><img src="static/fuwuhao.jpg"/></p>
<hr>
<h2 id="section-2">向公众号发送身份证</h2>
<p>向微信公众号发送身份证，微信号会与悦驾网系统对接，检验帐号的正确性。会返回一个条消息，检验成功后，就可以了！没有激渗活学习卡的学员，需要先去官网激活，也可以<a href="/add_stu">点这</a>激活！</p>
<hr>
<h2 id="section-3">联系我，启动代看，进行缴费</h2>
<p>由于本系统花费本人大量精力和时间，并且购买了域名和服务器，有一定的成本支出，所以希望大家体谅，我当初也是学员来的。</p>
<p>微信号：Zh-12306 电话：15899912449</p>
<p>扫描下方二维码也可以加我微信</p>
<p><img src="static/mywechat.jpg"/></p>
<p>或支付宝转帐 529459515@qq.com</p>
<p><img src="static/alipay.jpg"/></p>
<hr>
<h2 id="sectio-n-4">恭祝大家驾考顺利！</h2>
<hr>
{% endblock %}